@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

:root {
    --primary-color: #2E2F42;
    --secondary-color: #F4F4FD;
    --white-color: #fff;
    --cornflower: #e7e9fc;
    --slate: #434455;
    --iris: #4d5ae5;
    --cloud: #f4f4fd;
    --font-family: 'Roboto', sans-serif;
    --second-family: "Raleway", sans-serif;
}
body {
  font-family: var(--font-family);
  color: var(--slate);
  background-color: var(--white);
  font-size: 16px;
  line-height: 1.5;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  margin-bottom: 8px;
  margin: 0 auto;
}
section {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  }
.header-cont {
  border-bottom: 1px solid var(--cornflower);
}
.header-top {
    display: flex;
    justify-content: space-between;
}
.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}
.span-logo {
    color: var(--primary-color);   
}
.nav-container {
  display: flex;
  align-items: center;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 40px;
  margin: auto;
  padding: auto;
  background-color: #ffffff;
  padding: 24px 0;
}
.nav-links a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
  letter-spacing: 0.02em; 
  padding: 24px 0;
}
.nav-list-item {
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.address-list-item {
  padding: 24px 0;
}
.header-link {
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em; 
}
.header-link:hover {
  color: #404bbf;
}
.header-link:focus {
  color: #404bbf;
}
.first-address {
    font-style: normal;
    color: #2e2f42;
}
.first-address a {
  letter-spacing: 0.02em;
  color: #434455;
}
.second-address {
    color: #2e2f42;
}
.second-address:hover {
  color: #404bbf;
}
.second-address:focus {
  color: #404bbf;
}
.hero {
    background-color: var(--primary-color);
    font-family: var(--font-family);
    padding: 188px 0;
}
.hero-header {
    font-family: var(--font-family);
    color: var(--white-color);
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;   
    max-width: 496px;
    margin: 0 auto;
}
.first-button {
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    color: var(--white-color);
    display: block;
    margin: 48px auto 0;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
       
}
.first-button:hover {
  background-color: #404bbf;
}
.first-button:focus {
    background-color: #404bbf;
}
.advan-section {
  display: flex;
  justify-content: center;
  margin: 120px auto;
  width: 1440px;
}
.advan-title {
  display: none;
}
.advan-list {
  font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    margin-bottom: 8px; 
}
.advanta-item {
  width: calc((100% - 72px) / 4);
}
.advan-list-ul {
  background-color: var(--white);
  display: flex;
  gap: 24px;
}
.advan-paragraph {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.team {
  padding: 120px 0;

  color: #2e2f42;
  background-color: #f4f4fd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}
.our-team-listul {
  display: flex;
  gap: 24px;
}
.heading-team portfolio-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--primary-color);
  margin-bottom: 72px;
}
.team-list {
  width: calc((100% - 72px) / 4);
  list-style-type: none;
  border: 1px solid #e7e9fc;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
    
}

.team-member-info {
  padding: 32px 0;
}
.heading-list-team {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  margin-bottom: 8px; 
  text-align: center
}

.team-paragraf {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-align: center
}
.section-port {
  display: block;
  padding: 120px 0;
  color: #2e2f42;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--primary-color);
    margin-bottom: 72px;
}
.port-ulist {
  background: var(--white);
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.port-lilist {
  width: calc((100% - 48px) / 3);
}
.port-div {
  border: 1px solid var(--cornflower);
  border-top: none;
  padding: 32px 16px;
  margin-bottom: 8px;
}
.section-port h2 {
  display: flex;
  margin-top: 32px;
  margin-left: 16px;
  margin-bottom: 8px;
  text-align: center;
}
.portfolio-list {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.port-desc {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.container-footer {
  margin: 0 auto;
  padding: 0 15px;
}
.footer {
  padding: 100px 0;
  
  background-color: var(--primary-color);    
}
.section-footer {
  font-family: "raleway";
  font-weight: 700;
  font-size: 18px;
  height: 312px;
  margin-top: 135px;
  padding-top: 100px;
}
.footer-logo {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 16px;
}

.footer-stu {
  font-family: "Raleway";
  color: #f4f4fd;
}

.text-end {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}